<!DOCTYPE html>
<html>
<head>

<title>ShopIQ</title>

<script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-gray-50">

<header class="bg-white shadow">
<div class="max-w-7xl mx-auto flex justify-between items-center p-4">

<h1 class="text-2xl font-bold text-green-600">ShopIQ</h1>

<nav class="space-x-6">
<a href="/">Home</a>
<a href="/about">About</a>
</nav>

</div>
</header>

<section class="text-center py-24">

<h1 class="text-6xl font-bold">
Shop Smarter
<span class="text-green-600">Buy Better</span>
</h1>

<p class="text-gray-600 mt-6">
Compare prices across Amazon, Flipkart, Croma and more.
</p>

<form action="/compare" method="POST" class="mt-10 flex justify-center gap-4">

<input
name="link"
placeholder="Paste product link here..."
class="border px-6 py-3 rounded-lg w-96"
/>

<button
class="bg-green-600 text-white px-6 py-3 rounded-lg">
Compare Now
</button>

</form>

</section>

</body>
</html>